.container{
    width: 85%;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 70px;
}

.post {
    box-sizing: border-box;
    float: left;
    padding: 0 30px;
    width: 25%;
    word-wrap: break-word;
}

.clear{
    height: 100px;
    clear: left;
}